{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block myhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %}
<div class="main_content">
    <div class="block">
        <div class="line"><img src="static/img/line.png">
        </div>
        <div>
            <h1>Ваш цифровой ассистент в мире математики!</h1><br>
            <div class="main_text1">
                Улучшите преподавание математики с помощью данного сервиса.
            </div>
            <div class="main_text2">
                <br><br><img src="static/img/graph.png">
                Стройте наглядные графики функций и создавайте разнообразные
                задания для всех уровней обучения.
            </div>
            <div class="main_text2">
                <br><img src="static/img/time.png">
                Сэкономьте время на подготовке
                к урокам и сделайте процесс обучения более эффективным и увлекательным.
            </div>
        </div>
    </div>
    <div class="main_text5">
         7 * 7 = 49
     </div>
     <div class="main_text3">
         2x + 2 = 6
     </div>
    <div class="main_text4">
         2 + 2 = 4
     </div>
</div>
{% endblock %}