{% extends './base.html' %}
{% block title %}
Задание
{% endblock %}

{% block myhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/rend1.js') }}"></script>
{% endblock %}
{% block body %}
<input type="hidden" id="template-value" value="{{ current_template.template }}">
<input type="hidden" id="template-id" value="{{ current_template.id }}">
<input type="hidden" id="theme-id" value="{{ current_theme.id }}">

<div class="rend_block">
    <div class="rend">
        <div class="title">
            <h2>{{ current_theme.name }}</h2><br>
        </div>
        <div class="task-block">
            <div class="task">
                <h3>Задание:</h3>
                {{ task.task_text }}
                <div id="output"></div>
            </div>
            <div class="answer">
                <button id="btnShowGraph">Показать график</button>
                <button id="btnShowAnsw">Показать ответ</button>
                <div id="answer"></div>
                {% if current_user.get_id() %}
                    <button id="btnSave">Сохранить задачу</button>
                {% else %}
                    <input type="hidden" id="btnSave" value="">
                {% endif %}
            </div>
        </div>
    </div>

<div class="canvas">
    <canvas id="canvas" width = 800px height = 800px >
        Ваш браузер не поддерживает Canvas
    </canvas>
</div>
</div>
{% endblock %}